
 @media screen and (max-width:1240px ) {
    
 }   
div ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.html{
    background-color: rgb(214, 224, 243);
}
div ul a{
    text-decoration: none;

}
.gray-color{
    color: gray;
}
.header{
    display: flex;
    justify-content: space-between;
    margin:0px 100px;
}
.black{
    color: black;
}
.black-2{
    color: black;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
.brown{
    color: #E95A08;
}
.text{
    align-self: self-end;
}
.bennar-pic{
    height: 300px;
    width: 410px;
}
.bennar{
    display: flex; 
    justify-content: space-between;
    padding-top: 80px;
    margin: 20px 100px;
}
.sample{
    width: 250px;
}
.usd{
    font-weight: 800;
}
.btn{
    border: none;
    color: aliceblue;
    background-color: rgba(233, 90, 8, 1);
    padding: 20px 80px;
}
.collage{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin: 20px 200px;
    gap: 20px;
    justify-content: center;
}
.text-2{
    text-align: center;
}
.bennar-2{
    margin:80px 100px ;
    
}
.section-3{
    margin-top: 100px;
    display: flex;
    margin: 50px 100px;
}
.store{
    margin-top: 100px;
    height: 500px;
    width: 500px;
}
.badge{
    height: 250px;
    width: 250px;
    margin-left: -150px;
    margin-top: -15px;
}
.pera{
    color: gray;
    margin-left:60px ;
}
.title{
    font-size: 30px;
    margin-left: 80px;
    margin-top: -50px;
}
.head{
    text-align: center; 
    margin: 50px;
}
.section-4{
    margin:20px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.bloom-text{
    background-image: url(../assets/deal-bloom.png);
     border-radius: 8px;
     color: aliceblue;
    height: 190px; width: 350px;
     text-align: center;place-content: center;
}
.ana-text{
    background-image: url(../assets/deal-ana.png);
    border-radius: 8px;
    height: 190px; width: 350px;
     color: aliceblue;
    text-align: center;place-content: center;
}
.section-4 a{
     color: aliceblue;
}

.zabo-text{font-size: 20px;
    background-image: url(../assets/deal-zabo.png);
    border-radius: 10px;
    height: 400px;
 width: 700px; background-repeat: repeat;
 color: aliceblue;
    text-align: center; place-content: center;
}

.zabo{
    grid-column: span 2;
}
.bunch{
    font-weight: 700;font-size: 30px; color: aliceblue;
}
.section-5{
    margin-top: 200px;
}
.email{
    background-image: url(../assets/news-letter-bg.png);
    height: 500px;width: 100%;
    text-align: center;place-content: center;
}
.input{
    height: 30px;width: 300px;
}
.btn-2{
    color: aliceblue;
    background-color: #E95A08;
    border: none;
    padding: 10px;
}
.section-6 nav ul{
    list-style: none;
}
.section-6 nav ul a{
    text-decoration: none;
    color:gray;
}
.section-6 nav ul li{
    margin-bottom: 20px;
}
.section-6 nav img{
    margin-right: 20px;
}
.section-6{
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}

@media screen and (max-width:576px ){
    .html{
        background-color: rgb(203, 217, 243);
    }
    .black,.gray-color{
        display: none;
    }
    .header{
        margin: 0px;
    
    }
    .bennar{
        flex-direction: column-reverse;
    }
    .bennar-pic{
        width:345px;
margin-left: 0px;
    }
    .text{
        align-self: self-start;
    }
    .sample{
        width: 140px;
    }
    .btn{
        padding: 5px 25px;
    }
    .collage{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        margin: auto;
    }
    .badge{
        display: none;
    }
    .section-3{
        display: grid;
        grid-template-columns: 1fr;
    }
.title , .pera{
    margin-top: 20px;
    margin-left: 0px;
}
.head{
    font-size: 10px;
}
.section-4{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
.ana-text, .bloom-text{
     height: 190px; width: 345px;
     margin: auto;
}
.zabo-text{
    height: 190px; width: 345px;
    margin: auto;
}
.section-5{
    width: auto;
}

.section-6{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
}
.store{
    height: 350px;
    width: 345px;
    margin-left: auto;
}
}
