div ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
div ul a{
    text-decoration: none;

}
.gray-color{
    color: gray;
}
.header{
    display: flex;
    justify-content: space-between;
    margin:0px 100px;
}
.black{
    color: black;
}
.black-2{
    color: black;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
.brown{
    color: #E95A08;
}
.text{
    align-self: self-end;
}
.bennar-pic{
    height: 300px;
    width: 410px;
}
.bennar{
    display: flex; 
    justify-content: space-between;
    padding-top: 80px;
    margin: 20px 100px;
}
.sample{
    width: 250px;
}
.usd{
    font-weight: 800;
}
.btn{
    border: none;
    color: aliceblue;
    background-color: rgba(233, 90, 8, 1);
    padding: 20px 60px;
}
.collage{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin: 20px 200px;
    gap: 20px;
    justify-content: center;
}
.text-2{
    text-align: center;
}
.bennar-2{
    margin:80px 100px ;
    
}
.section-3{
    margin-top: 100px;
    display: flex;
    margin: 50px 100px;
}
.store{
    margin-top: 100px;
    height: 500px;
    width: 500px;
}
.badge{
    height: 250px;
    width: 250px;
    margin-left: -150px;
    margin-top: -15px;
}
.pera{
    color: gray;
    margin-left:60px ;
}
.title{
    font-size: 30px;
    margin-left: 80px;
    margin-top: -50px;
}
.head{
    text-align: center; 
    margin: 50px;
}
.div-bloom{
    margin-bottom: 130px;
}
.bloom-text{
    color: aliceblue;
    margin-top: -150px;
    margin-left: 100px;
}
.bloom-pic{
    height: 250px; width: 340px;
    border-radius: 10px;
}
.ana{
    height: 250px; width: 340px;
    border-radius: 10px;
}
.section-4 a{
     color: aliceblue;
}
.ana-text{
    color: aliceblue;
    margin-top: -150px;
     margin-left:100px ;
}
.section-4{
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;
}
.zabo{
    height:515px ;width: 680px;
    border-radius: 10px;
}
.zabo-text{color: aliceblue;
    margin-top: -250px;
    margin-left: 250px;
}
@media screen and (max-width:576px ){
    .black,.gray-color{
        display: none;
    }
    .header{
        margin: 0px;
    
    }
    .bennar{
        
        margin: 0px;
        flex-direction: column-reverse;
    }
    .bennar-pic{
        width:auto;
        margin: 0px;
    }
    .text{
        align-self: self-start;
        margin-left: 10px;
    }
    .collage{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
}
